@charset "UTF-8";

@media (max-width: 540px) {

    .flip {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
    }

    .flip h2 {
        margin-bottom: 0px;
    }

    .flip div {
        max-width: 200px;
       
    }

    .arcade img {
        width: 100%;
        margin-bottom: 20px;
    }

    .out {
        color: red;
        font-weight: bold;
    }

    #l1 {
        display: none;
    }

    .logos {
        margin-top: 0px;
    }

    header {
        height: 280px;
        margin-bottom: 15px;
    }
    header h1 {
        margin-top: 60px;
        margin-bottom: 40px;
        
    }

    .toggle i {
        font-size: 25px;

    }
    
    #burguer {
        width: 100%;
        display: block;
        background-color: white;
        color: black;
        padding: 8px;
        cursor: pointer;
        margin: 0 auto;
        
        
    }
    
    #burguer:hover {
       background-color:white;
        color: black;
    }
    
    menu a {
        width: 100%;
        display: block;
        margin: 0 auto;
        color: white;
        background-color: rgb(39, 39, 41);
        text-decoration: none;
        text-align: center;
        border-top: 2px solid darkgray;
        padding: 10px;
        border-radius: 0px;
    }
    
    menu a:hover {
        color: black;
        background-color:rgb(168, 167, 167);
    }

    body {
        background-color: white;
    }

    main {
        color: black;
        background-color: white;
    }

    section {
        background-color: white;
    }

    .thor {
        display: none;
    }

    .gow {display: none;}


    

    #container {
        
        grid-template-areas:
        "gow1"
        "item"
        "item"
        "item"
        "item"
        "item"
        "item";
    }

    .gow1 {
       
        display: block;
        max-width: 300px;
        min-width: 240;
        height: 240px;
    }

    .gow1 img {
        width: 100%;
        max-width: 300px;
        min-width: 240px;
        
    
    }

    .txt  {
        color: white;
        background-color: rgb(39, 39, 41);
        padding: 0 15px;
        padding-top: 10px;
        margin-top: 20px;

    }

    #og {
        color: white;
        background-color: rgb(39, 39, 41);
        margin-top: 0px;
        padding-top: 20px;
        
        justify-content: center;
        align-content: center;
        align-items: center;
        column-gap: 15px;
        grid-template-areas:
        "item item"
        "item item"
        "item item"
        "item item";
        
    }

    .item {
        margin: 0px;
        width: 170px;
        height: 170px;
    }

    .item1 {
        max-width: 300px;
        min-width: 240;
        height: 240px;
    }

    .item1 img {
        width: 100%;
    
        
    
    }

    

    footer {
        background-color: black;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: flex-start;
        flex-wrap: wrap;
        padding: 20px 30px;
    }

    footer div {
        width: 100%;
        margin: 10px 0;
    }

    .hydra img {
        width: 60px;
        display: block;
        margin:  0 auto;
    }

    .hydra {
        width: 100%;
        margin-bottom: 15px;
    }

    #off h2 {
        margin-top: 40px 0 ;
    }
}