@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: 'gow';
    src: url('../fonts/god-of-war/gow.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}


    

h1, h2, h3 { margin: 20px 0; }


header {
padding-left: 7px;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}


#acesso-main {
display: flex;
align-items: center;
}


#acesso-main a {
color: black;
text-decoration: none;
}


.hydra-logo {
height: 50px;
padding: 5px;
border-right: 1px solid rgba(0, 0, 0, 0.399) ;
margin-right: 5px;
}


.hydra-name {
text-transform: uppercase;
height: 100%; 
}


.hydra-name h3 {
font-family: 'gow';
font-weight: normal;
}


.icones {
height: 100%;
display: flex;
justify-content: center;
padding-right: 10px;
align-items: center;
}


.icones div i {
margin: 0 9px;
font-size: 20px;
}


#cart {
display: flex;
align-items: center;
height: 70px;
border-right: 1px solid rgba(0, 0, 0, 0.099);
}


#menu {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 35px;
padding-left: 10px;
}


#menu i {
display: block;
margin: 0 auto;
}


#search-main {
border-top: 1px solid rgba(0, 0, 0, 0.099);
border-bottom: 1px solid rgba(0, 0, 0, 0.199);
padding: 10px 15px;
}


input#search {
display: block;
margin: 0 auto;
width: 100%;
padding: 5px;
border: 2px solid rgba(0, 0, 0, 0.799);
}


#compra {
margin-top: 40px;
padding: 15px;
}


#compra #main-img { box-shadow: none; }

.stars { margin-bottom: 15px; }

.stars i { color: rgb(252, 208, 0); }

#compra p { line-height: 23px; }


#compra img {
display: block;
margin: 0 auto;
border-radius: 5px;
box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.230);
}


.acessorios {
display: flex;
align-items: center;
align-content: center;
flex-direction: row;
width: 100%;
gap: 17px;
justify-content: space-between;
margin-top: 40px;
margin-bottom: 50px;
box-sizing: border-box;
}


.imagem-p {
height: 100%;
margin: 0;
padding: 0;
}


.imagem-p img { width:100%; box-sizing: border-box;}

.imagem-p img:hover { border: 2px solid black; }

strong { color:#004996; }


#qt {
margin: 0;
margin-top: 15px;
margin-bottom: 5px;
}


#quantidade {
color: rgba(0, 0, 0, 0.387);
border: 2px solid black;
width: 100px;
height: 35px;
background-color: white;
}


#addCarrinho {
border: 2px solid #004996;
display: block;
width: 100%;
margin: 0 auto;
margin-top: 25px;
padding: 8px;
font-weight: bold;
color: #004996;
background-color: white;
cursor: pointer;
}



#description {  padding: 15px; }


#description p {
text-indent: 20px;
line-height: 23px;
text-align: justify;
}


.detalhes {
margin-top: 30px;
border: 2px solid rgba(0, 0, 0, 0.686);
padding: 0 15px;
}


.detalhes h3 { margin-bottom: 5; }

.detalhes ul li { margin: 10px 0; }


.detalhes ul {
padding-left: 35px;
padding-bottom: 20px;
}

aside div { padding-bottom: 10px; }

aside h2 { margin-left: 15px; }


#sugestoes {
display: flex;
align-items: center;
align-content: center;
gap: 15px;
justify-content: space-between;padding: 15px;
margin: 20px 0;
}


#sugestoes div {
border-radius: 7px;
overflow: hidden;
max-width: 195px;
box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.458);
width: 100%;
text-align: center;
margin: 0 auto;
}


h4 { margin: 6px; }


footer {
background-color: rgb(16, 35, 65);
color: white;
padding: 0 15px;
padding-top: 50px;
padding-bottom: 30px;
}


.footer_options {
width: 100%;
border-top: 1px solid rgba(128, 128, 128, 0.616);
}


.optl {  border-bottom: 1px solid rgba(128, 128, 128, 0.669); }


footer h4 {
margin-top: 30px;
margin-left: 0px;
}


footer p { margin: 15px 0; }


footer img {
display: block;
width: 100%;
max-width: 450px;
margin: 30px auto;
}


#copright {
display: flex;
flex-direction: column;
align-items: center;
margin: 0 auto;
width: 310px;
font-size: 0.7rem;
}


#copright p { margin: 5px 0; }


#mg {
color: white;
background-color: black;
font-size: 0.8rem;
padding: 4px;
display: block;
width: 100%;
margin: 0 auto;
text-align: center;
font-style: italic;
}


.lts {  display: none; }


/* TELAS MÉDIAS */

@media screen and (min-width:570px) {


    #search-main {
    border-top: 1px solid rgba(0, 0, 0, 0.099);
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
    padding: 10px 25px;
    }


    input#search {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.799);
    }


    header {
    padding-left: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    }

    
    .icones {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 25px;
    }
    

    .icones div i {
    margin: 0 10px;
    font-size: 25px;
    }

    #menu { margin-left: 5px; }

    #compra h3 {
    font-size: 2rem;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .imagem-p img:hover {
    border: 2px solid black;
    box-shadow: none;
    box-sizing: border-box;
    }

    .lts { display: block; }
}
