@charset "UTF-8";

@media (max-width: 540px) {

    body {
        background-color: white;
    }

    main {
        color: black;
        background-color: white;
    }

    header {
        height: 280px;
        margin-bottom: 15px;
    }

    header h1 {
        margin-top: 70px;
        margin-bottom: 30px;    
    }

    .logos {
        margin-top: 0px;
    }

    #l1 {
        display: none;
    }

    .toggle i {
        font-size: 29px;     
    }
    
    #burguer {
        width: 100%;
        display: block;
        background-color: white;
        color: black;
        padding: 8px;
        cursor: pointer;
        margin: 0 auto;
        
    }
    
    #burguer:hover {
       background-color:white;
        color: black;
    }
    
    menu a {
        width: 100%;
        display: block;
        margin: 0 auto;
        color: white;
        background-color: rgb(14, 14, 15);
        text-decoration: none;
        text-align: center;
        border-top: 2px solid darkgray;
        padding: 10px;
        border-radius: 0px;
    }
    
    menu a:hover {
        color: black;
        background-color:rgb(176, 176, 176);
    }

    #container {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }

    .item1 {
        max-width: 300px;
        min-width: 240;
        height: 240px;
    }

    .item1 img {
        margin-bottom: 15px;
    }

    .gow1 {
       
        display: block;
        max-width: 300px;
        min-width: 240;
        height: 240px;
    }

    .gow1 img {
        width: 100%;
        max-width: 300px;
        min-width: 240px;
    }

    .thor {
        display: none;
    }

    .gow { 
        display: none;
    }

    .txt  {
        color: white;
        background-color: rgb(39, 39, 41);
        padding: 0 15px;
        padding-top: 10px;
        margin-top: 20px;

    }

    #og {
        color: white;
        background-color: rgb(39, 39, 41);
        margin-top: 0px;
        padding-top: 20px;
        justify-content: center;
        align-content: center;
        align-items: center;
        column-gap: 15px;
        row-gap: 0px;

        grid-template-areas:
        "item item"
        "item item"
        "item item"
        "item item";
    }

    #og div {
        height: 190px;
    }

    .item {
        margin: 0px;
        width: 170px;
        height: 100px;
    }

    .flip {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
    }

    .flip h2 {
        margin-bottom: 0px;
    }

    .flip div {
        max-width: 200px;
       
    }

    .arcade img {
        width: 100%;
        margin-bottom: 20px;
    }

    .out {
        color: red;
        font-weight: bold;
    }

    #off {
        background-color: white;
    }

    #off h2 {
        margin-top: 40px 0 ;
    }

    

    footer {
        background-color: black;
        display: flex;
        flex-direction: column !important;
        justify-content: space-around;
        align-content: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        padding: 20px 30px;
    }

    footer div {
        width: 100% !important;
        margin: 10px 0;
    }

    .hydra img {
        width: 60px;
        display: block;
        margin:  0 auto;
    }

    div.hydra {
        width: 100%;
        margin-bottom: 15px;
    }

    
}