@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: 'gow';
    src: url('../fonts/god-of-war/gow.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}


.overflow__hidden.active {
    overflow: hidden;
    transition: 0.3s;
}

h1, h2, h3 { margin: 20px 0; }

h2 { margin-left: 15px; }


header {
padding-left: 7px;
display: flex;
background-color: #fff;
justify-content: space-between;
align-items: center;
width: 100%;
z-index: 4;
}

header.active {
filter: blur(25px);
pointer-events: none;
user-select: none;
}


#acesso-main {
display: flex;
align-items: center;
}

#acesso-main.active {
filter: blur(20px);
pointer-events: none;
user-select: none;
}


#acesso-main a {
color: black;
text-decoration: none;
}


.hydra-logo {
height: 50px;
padding: 5px;
border-right: 1px solid rgba(0, 0, 0, 0.399) ;
margin-right: 5px;
}


.hydra-name {
text-transform: uppercase;
height: 100%; 
}


.hydra-name h3 {
font-family: 'gow';
font-weight: normal;
}


.icones {
height: 100%;
display: flex;
justify-content: center;
padding-right: 10px;
align-items: center;
}

.icones button {
border: none;
background: none;
}


.icones div i {
margin: 0 9px;
font-size: 20px;
}


/* SESSÃO CARRINHO */


#cart {
display: flex;
align-items: center;
height: 70px;
border-right: 1px solid rgba(0, 0, 0, 0.099);
}



#carrinho { 
display: none;
flex-direction: column;
height: 100vh;
border: 1px solid red;
z-index: 4;
}

#carrinho.active {
    display: flex;
}

#cart-menu {
display: flex;
align-items: center;
background-color: white;
position: fixed;
right: -100%;
top: 0px;
text-align: center;
flex-direction: column;
width: 80%;
padding: 0 25px;
height: 100vh;
transition: 0.3s;
}

#cart-menu.active {
    right: 0;
}

#your-cart {
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
}

#carrinho h3 {
    
color: rgb(16, 35, 65);
letter-spacing: 1px;
text-align: left;
}

.hamburguer3 {
display: block;
cursor: pointer;
font-size: 20px;
z-index: 4;
}

.hamburguer3 .bar:nth-child(2) { opacity: 0; }

.hamburguer3 .bar:nth-child(1) {
transform: translateY(8px) rotate(45deg);
background-color: black;
}

.hamburguer3 .bar:nth-child(3) {
transform: translateY(-8px) rotate(-45deg);
background-color: black;
}

#subtotal {
    color: rgb(16, 35, 65);
    font-weight: bolder;
    font-size: 1rem;
}

#price-dados {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#price-dados > p {
    width: 100%;
    letter-spacing: 1px;
    padding: 0 2px;
    font-size: 0.8rem;
}

button.btn-cart {
    height: 40px;
    width: 100%;
    color: #fff;
    font-weight: bold;
    background-color: rgb(16, 35, 65);
    letter-spacing: 1px;
}

button.btn-pay {
    height: 60px;
    background-color: black;
}

#carrinho-conteudo {
display: flex;
width: 100%;
flex-direction: row;
justify-content: center;
height: 315px;
padding: 35px 0;
gap: 15px;
border-top: 1px solid rgba(128, 128, 128, 0.160);
border-bottom: 1px solid rgba(128, 128, 128, 0.160);
}


.item-preco {
    font-size: 0.8rem;
}

.carrinho-item{
    max-width: 100px;
}

div.carrinho-item:nth-child(2) {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
    


/* MENU RESPONSIVO */

li { list-style: none; }

a {
color: white;
text-decoration: none;
}

.navbar {  
display: flex;
font-size: 20px;
justify-content: space-between;
padding-left: 7px;
margin: 0 5px;
height: 100%;
}


.nav-menu {
display: flex;
align-items: center;
justify-content: top;
gap: 20px;
position: fixed;
right: -100%;
top: 0px;
padding-top: 90px;
background-color: #24252a;
text-align: center;
flex-direction: column;
width: 60%;
height: 100vh;
transition: 0.3s;
z-index: 2;
}



.logo { margin-bottom: 20px; }

body.active { overflow: hidden; }

.nav-menu.active { right: 0; }

.nav-item { margin: 16px 0; }

.nav-link { transition: 0.5s ease;}

.nav-link:hover { color: #0088d2; }

.hamburguer2 {
display: block;
cursor: pointer;
font-size: 20px;
z-index: 3;
}

.hamburguer2.active .bar:nth-child(2) { opacity: 0; }

.hamburguer2.active .bar:nth-child(1) {
transform: translateY(8px) rotate(45deg);
background-color: white;
}

.hamburguer2.active .bar:nth-child(3) {
transform: translateY(-8px) rotate(-45deg);
background-color: white;
}

.bar {
display: block;
width: 20px;
height: 3px;
border-radius: 2px;
margin: 5px auto;
background-color: black;
transition: all 0.3s ease-in-out;
}

#search-main {
width: 100%;
height: 100%;
margin: 0 auto;
max-width: 600px;
position: relative;
}


input#search {
display: block;
margin: 0 auto;
width: 100%;
padding: 10px;
border: 2px solid rgba(0, 0, 0, 0.799);
letter-spacing: 1px;
}

#small-bar {
position: relative;
width: 100%; 
border-top: 1px solid rgba(0, 0, 0, 0.099);
border-bottom: 1px solid rgba(0, 0, 0, 0.199);
padding: 10px 15px;
}

#small-bar.active {
filter: blur(25px);
pointer-events: none;
user-select: none;
}

input#search:focus {
outline: none;
}


#search-main > button {
position: absolute;
top: 0;
right: 0;
width: 40px;
height: 100%;
cursor: pointer;
border: none;
background: none;
font-size: 17px;

}

#search-main button i:hover {
color: rgb(162, 163, 163);
}

#info-page {
width: 100%;
max-width: 400px;
margin: 0 auto;
padding: 10px 15px;
}

#info-page.active {
filter: blur(25px);
pointer-events: none;
user-select: none;
}

#info-page p {
text-transform: uppercase;
font-weight: 400;
font-size: 0.6rem;
color: #636467;
line-height: 1.8;

}

/* SESSSÃO COMPRA */


#compra {
margin-top: 50px;
padding: 15px;
width: 100%;
}

#compra.active {
filter: blur(25px);
pointer-events: none;
user-select: none;
}

#m-i {
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
height: 300px;
min-width: 300px;
}


#main-img {     
max-width: 100% !important;
max-height: 300px;
box-shadow: none;
}


#img-main {box-shadow: none;}

#compra #main-img { box-shadow: none; }

.stars { margin-bottom: 15px; }

.stars i { color: rgb(252, 208, 0); }

#compra p { line-height: 23px; }

#frete {
color: green;
font-weight: bold;
margin-bottom: 10px;
font-style: italic;
}

#frete i {
margin-right: 5px;
font-size: 20px;
}


#compra img {
display: block;
margin: 0 auto;
border-radius: 5px;
}


.acessorios {
display: flex;
overflow-x: auto;
align-items: center;
align-content: center;
flex-direction: row;
width: 100%;
max-height: 150px;
gap: 10px;
justify-content: space-between;
margin: 50px 0;
box-sizing: border-box;
}


.acessorios::-webkit-scrollbar { width: 0; }


.imagem-p {
min-width: 100px;
max-height: 135px;
margin: 0;
padding: 0;
}


.imagem-p img {
max-width:100%;
height: 100%;
box-sizing: border-box;
}

.imagem-p img:hover { border: 2px solid black; }

strong { color:#004996; }


#qt {
margin: 0;
margin-top: 15px;
margin-bottom: 5px;
}


#quantidade {
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
color: rgba(0, 0, 0, 0.387);
border: 2px solid black;
width: 100px;
height: 35px;
margin-top: 10px;
background-color: white;
}

.qnt_menor_maior {
border: none;
color: black;
background: none;
font-size: 1rem;
}

.quanti { text-align: center; }


#addCarrinho {
border: 2px solid #004996;
display: block;
width: 100%;
margin: 0 auto;
margin-top: 25px;
padding: 8px;
font-weight: bolder;
color: #004996;
background-color: white;
cursor: pointer;
}


/* SESSSÃO DESCRIÇÃO */

#description {  padding: 15px; }

#description h2 {
line-height: 1.3;
letter-spacing: 0.06rem;
}


#description p {
text-indent: 20px;
line-height: 23px;
text-align: justify;
}


.detalhes {
margin-top: 30px;
border: 2px solid rgba(0, 0, 0, 0.686);
padding: 0 15px;
}


.detalhes h3 { margin-bottom: 5; }

.detalhes ul li {
margin: 10px 0;
list-style-type: disc;
}


.detalhes ul {
padding-left: 35px;
padding-bottom: 20px;
}

aside div { padding-bottom: 10px; }

aside h2 { margin-left: 15px; }

.lst { display: none; }


#sugestoes {
display: flex;
align-items: center;
align-content: center;
gap: 15px;
justify-content: space-between;padding: 15px;
margin-bottom: 45px;
}


.sugest {
overflow: hidden;
max-width: 195px;
height: 275px;
width: 100%;
text-align: center;
margin: 0 auto;
}

.sugest img {
margin-bottom: 5px;
height: 200px;
}


h4 { margin: 6px; }


footer {
background-color: rgb(16, 35, 65);
color: white;
padding: 0 15px;
padding-top: 50px;
padding-bottom: 30px;
}


.footer_options {
width: 100%;
border-top: 1px solid rgba(128, 128, 128, 0.616);
}


.optl {  border-bottom: 1px solid rgba(128, 128, 128, 0.669); }


footer h4 {
margin-top: 30px;
margin-left: 0px;
}


footer p { margin: 15px 0; }


footer img {
display: block;
width: 100%;
max-width: 450px;
margin: 15px auto;
margin-bottom: 70px;
}


#copright {
display: flex;
flex-direction: column;
align-items: center;
margin: 0 auto;
width: 310px;
font-size: 0.7rem;
}


#copright p { margin: 5px 0; }


#mg {
color: white;
background-color: black;
font-size: 0.8rem;
padding: 4px;
display: block;
width: 100%;
margin: 0 auto;
text-align: center;
font-style: italic;
}


.lts { display: none; }
.lts1 { display: none; }
#big-menu { display: none;}
.s2 { display: none;}
#big-bar { display: none; }


/* TELAS MÉDIAS */

@media screen and (min-width:768px) and (max-width:992px) {


     
    #big-bar { display: none; }
     
    form {
    position: relative;
    width: 100%; 
    
    
    margin: 0 auto;
    border-top: 1px solid rgba(0, 0, 0, 0.099);
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
    }

    #search-main {
    width: 100%;
    margin: 0 auto;
    position: relative;
    }


    input#search {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
    height: 40px;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.799);
    }

    
    
    
    #search-main button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 17px;
    }
    

    input#search:focus {
    outline: none;
    }
    
    #search-main button i:hover {
    color: rgb(162, 163, 163);
    }


    header {
    padding-left: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    }

    
    .icones {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 25px;
    }
    

    .icones div i {
    margin: 0 10px;
    font-size: 25px;
    }

    #menu { margin-left: 5px; }

    #info-page {
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    

    .imagem-p img:hover {
    border: 2px solid black;
    box-shadow: none;
    box-sizing: border-box;
    }

    .lts { display: block; }
    .lts1 { display: none;}
}





/* TELAS GRANDES */

@media screen and (min-width: 880px){

    

    #small-bar { display: none;}
    .lts { display: block; }
    .navbar { display: none; }
    .lts1 { display: block;}

    main {
    max-width: 1200px;
    margin: 0 auto;
    }

    #big-bar { display: block; }


    header {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 0;
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.367);
    }


    #acesso-main { width: 150px; }

    
    #search-main {
    width: 600px;
    margin: 0 auto;
    display: block;
    align-content: center;
    padding: 0;
    }

    

    .icones {
    height: 100%;
    padding-left: 40px;
    }

    

    #user { height: 100%; }

    #cart { border-right: none; }

    #info-page {
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0;
    }
    
    #compra {
    display: grid;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;
    justify-content: space-around;
    grid-template-columns: auto auto auto;
    padding: 0;
    }

    #m-i {
    width: 450px;  
    }

    .acessorios {
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    max-height: 100%;
    grid-row-start: 1;
    margin: 0;
    }


    .imagem-p { height: 100px; }

    #price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 370px;
    height: 100%;
    grid-column-start: 3;
    }

    #price > h1 { font-size: 2rem; }

    #big-menu {
    display: block;
    border-top: 1px solid rgba(128, 128, 128, 0.277);
    width: 100%;
    padding: 5px 0;
    }

    #big-menu div {
    display: flex;
    justify-content: space-between;width: 700px;
    margin: 0 auto;
    padding-top: 10px;  
    }

    #big-menu div h4 { color:#003b7a; }

    #big-menu div h4:hover { color: red; }
    
    #menu { display: none;}
    .s3 {display: none;}
    .s2 {display: block;}

    #description {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 40px auto;
    }

    #description p { width: 400px; }

    

    .detalhes {
    width: 400px;
    display: block;
    }

    main h2 { text-align: center; }


    aside {
    max-width: 1200px;
    margin: 0 auto;
    }

     aside h2 { text-align: center; }

    .lst { display: block;}

    #sugestoes {
    display: flex;
    width: 1000px;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    margin: 50px auto;
    }

    .sugest { box-shadow: none; }

    footer { padding: 50px; }

    

    
}
