@charset "UTF-8";


@media (max-width: 768px) {

section { margin: 50px 0; }

h2 { margin-bottom: 15px;
color: #333; }

body { padding-top: 70px;}

.overflow__hidden.active { overflow: hidden; }



/* HEADER E MENU */
header {
position: fixed;
top: 0;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
height: 70px;
padding: 0 7px;
z-index: 4;
background-color: rgb(35, 37, 43);
color: #fff
}

header.active {
pointer-events: none;
user-select: none;
}


#acesso-main {
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}
    
#acesso-main.active {
pointer-events: none;
user-select: none;
}

    
#acesso-main a {
color: black;
text-decoration: none;
}


.hydra-logo {
display: flex;
align-items: center;
height: 100%;
padding-right: 5px;
border-right: 1px solid black ;
margin-right: 5px;
}

    
.hydra-name {
display: flex;
align-items: center;
text-transform: uppercase;
height: 100%;
padding-left: 5px;
}


.hydra-name h3 {
font-family: 'gow';
font-weight: normal;
color: white;
text-align: left;

}
    
    
.icones {
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
    
.icones button {
border: none;
background: none;
}
    
    
.icones div i {
margin: 0 9px;
font-size: 20px;
color: white;
}

#cart {
display: flex;
align-items: center;
height: 70px;
color: black;
border-right: 1px solid black;
}


#l1 { display: none; }

#big-menu { display: none;}


/* BARRAS DE PESQUISA */

#search-main {
width: 100%;
height: 100%;
margin: 0 auto;
max-width: 600px;
position: relative;
}


input#search {
display: block;
margin: 0 auto;
width: 100%;
padding: 10px;
border: 2px solid rgba(0, 0, 0, 0.799);
letter-spacing: 1px;
}

#small-bar {
position: relative;
width: 100%;
padding: 0 15px;
}

input#search:focus {
outline: none;
}


#search-main > button {
position: absolute;
top: 0;
right: 0;
width: 40px;
height: 100%;
cursor: pointer;
border: none;
background: none;
font-size: 17px;

}

#search-main button i:hover {
color: rgb(162, 163, 163);
}


/* menu hamburguer*/

.nav-menu.active { right: 0; }

.nav-item { margin: 16px 0; }

.nav-link { transition: 0.5s ease;}

.nav-link:hover { color: rgb(254, 4, 4) }

.hamburguer {
display: block;
cursor: pointer;
font-size: 20px;
z-index: 3;
}

.hamburguer.active .bar:nth-child(2) { opacity: 0; }

.hamburguer.active .bar:nth-child(1) {
transform: translateY(8px) rotate(45deg);
background-color: white;
}

.hamburguer.active .bar:nth-child(3) {
transform: translateY(-8px) rotate(-45deg);
background-color: white;
}

.bar {
display: block;
width: 20px;
height: 3px;
border-radius: 2px;
margin: 5px auto;
background-color: white;
transition: all 0.3s ease-in-out;
}


/* MENU */
.navbar {  
display: flex;
font-size: 20px;
align-items: center;
justify-content: space-between;
padding-left: 10px;
padding-right: 5px;
height: 100%;
}


.blurred{
content: "";
position: fixed;
background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.0));
backdrop-filter: blur(20px);
left: -100%;
top: 0px;
width: 40%;
height: 100vh;
transition: 0.1s;
z-index: 2;
}

.blurred.active { left: 0;}



.nav-menu {
display: flex;
align-items: center;
justify-content: top;
gap: 20px;
position: fixed;
right: -100%;
top: 0px;
padding-top: 90px;
background-color: rgb(0, 0, 0);
text-align: center;
flex-direction: column;
width: 60%;
height: 100vh;
transition: 0.1s;
z-index: 2;
}

li { list-style: none; }

a {
color: white;
text-decoration: none;
}


/* CARROSEL*/
#carrosel {
max-width: 800px;
background-color: black;
overflow: hidden;
margin-bottom: 30px;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.557);
}

#slider {
width: 100%;
display: flex;
transition: transform 0.3s ease-in-out ;
transform: translateX(0);
}

#slider img {
object-fit: cover;
width: 100%;
}


/* SESSÃO JOGOS */
#jogos {
display: flex;
margin: 50px auto 30px auto;
flex-wrap: wrap;
align-items: center;
width: 100%;
max-width: 678px;
justify-content: space-around;
column-gap: 15px;
row-gap: 30px;
padding: 0 15px;
}

#jogos a {color: black;}


.jogos-itens {
width: 140px;
height: 250px;
}


.jogos-itens img {
height: 170px;
width: 100%;
margin-bottom: 10px;
border-radius: 4px;
}

#gow-title { 
line-height: normal;
margin-bottom: 4px;
}

.jogos-itens p {
    line-height: 25px;
}


/* SESSÃO CONSOLES */


#consoles {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
width: 100%;
max-width: 768px;
align-items: center;
margin: 50px auto;
padding: 0 15px;
row-gap: 30px;
column-gap: 15px;
}


.consoles-itens {
min-width: 160px;   
width: 300px;

}

.consoles-itens img {
width: 100%;
margin-bottom: 15px;
}

.consoles-itens p {
    line-height: 25px;
}


#consoles a {
text-decoration: none;
color: black;
}



/* SESSÃO RETROS */

#retros {
display: flex;
width: 100%;
max-width: 678px;
justify-content: space-around;
flex-wrap: wrap;
margin: 50px auto;
align-items: center;
column-gap: 15px;
row-gap: 30px;
}


.retros-itens {
width: 160px;
max-width: 200px;
border-radius: 10px;
}


.retros-itens img {
width: 100%;
border-radius: 10px;
margin-bottom: 15px;
box-shadow: 2px 2px 5px black;
}


/* SESSÃO ARCADES */


#arcades {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
row-gap: 50px;
column-gap: 40px;
}


.arcades-itens {
width: 200px;
}


.arcades-itens img {
width: 150px;
margin-bottom: 15px;
}

.arcades-itens p { line-height: 25px; }



/* SESSÃO DESCONTO */

#off {
display: block;
margin: 50px auto;
max-width: 400px;
padding: 0 25px;
}


/* footer */


footer {
    background-color: black;
    display: flex;
    flex-direction: column !important;
    justify-content: space-around;
    align-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 20px 30px;
}

footer div {
    width: 100% !important;
    margin: 10px 0;
}

.hydra img {
    width: 50px !important;
    
    display: block;
    margin:  0 auto;
}

div.hydra {
    width: 100%;
    margin-bottom: 15px;
}

}