@charset "UTF-8";

@media screen and (min-width: 993px) and (max-width: 1200px) {

    .navbar { display: none;}
#carrosel { display: none;}
.toggle{ display: none; }
#cart .fa-search{ display: none;}



#big-bar { display: block;}

    section {
        margin: 50px 0;
    }


    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    main h2 {
        margin-bottom: 15px;
    }


   

    header {
        display: flex;
        width: 100%;
        padding: 10px 20px;
        height: 80px;
        }
        
            
        #header {
        display: flex;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        height: 100%;
        justify-content: center;
        column-gap: 30px;
        align-items: center;
        }
        
        
        #acesso-main {
        display: flex;
        align-items: center;
        column-gap: 10px;
        justify-content: right;
        width: 160px;
        height: 100%;
        margin: 0;
        padding: 0;
        }
        
        .hydra-logo {
        height: 100%;
        margin: 0;
        padding: 0;
        border: none;
        }

        .hydra-logo img {
        width: 60px;
        height: 60px;
        }
        
        .hydra-name{
        display: flex;
        align-items: center;
        }
        
        .hydra-name h3{
        height: 100%;
        margin: 0;
        padding: 0;
        }
        
        #search-main {
        display: flex;
        height: 40px;
        width: 700px;
        min-width: 390px;
        padding-right: 15px;
        border: 2px solid black;
        }
        
        #search-main button {
        border: none;
        background: none;
        }
        
        #search {
        display: flex;
        justify-content: space-between;
        color: #fff;
        background: none;
        border: none;
        width: 100%;
        padding: 10px 15px;
        }
        
        
        .icones {
        display: flex;
        align-items: center;
        column-gap: 25px;
        width: 160px;
        height: 100%;
        }

    .icones i {
        color: black;
    }

   

    

   


    #big-menu {
    display: block;
    width: 100%;
    padding: 5px 0;
    margin-top: 0;
    padding: 10px 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.267);
    }

    #big-menu div {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;  
    }

    #big-menu div h4 { color:#003b7a; cursor: pointer; }

    #big-menu div h4:hover { color: red; }

    #jogos {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 50px auto;
    row-gap: 30px;
    column-gap: 20px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    }

    .jogos-itens {
        width: 175px;
    }

    .jogos-itens img {
        width: 175px;
        height: 240px;
        border-radius: 7px;
        margin-bottom: 15px;
    }

    .jogos-itens p {
        line-height: 25px;
    }


    #consoles {
        width: 930px;
        display: grid;
        gap: 40px;
        margin: 50px auto;
        justify-content: space-around;
        grid-template-columns: auto auto;
    }


    .consoles-itens {
        width: 300px;
    }

    .consoles-itens img {
        margin-bottom: 20px;
    }

    .consoles-itens p {
        line-height: 25px;
    }

    #retros {
        column-gap: 40px;
    }


    .retros-itens img {
        margin-bottom: 20px;
    }

    #arcades {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 80px;
    }


    .arcades-itens img {
        width: 200px;
        margin-bottom: 25px;
    }

    .arcades-itens p { line-height: 25px; }


    
}