@charset "UTF-8";

@media screen and (min-width: 880px) {

    section {
        margin: 50px 0;
    }


    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    main h2 {
        margin-bottom: 15px;
    }

    .toggle { display: none; }

   

    header {
        height: 230px;
        margin-bottom: 50px;
    }

    header h1 {
        margin-top: 50px;
    }

    #l1 { display: none; }

    #jogos {
        display: flex;
        flex-wrap: wrap;
        width: 930px;
        margin: 50px auto;
        row-gap: 30px;
        column-gap: 20px;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    }

    .jogos-itens {
        width: 175px;
    }

    .jogos-itens img {
        width: 175px;
        height: 240px;
        border-radius: 7px;
        margin-bottom: 15px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.519);
    }


    #consoles {
        width: 100%;
        display: grid;
       
        grid-gap: 50px;
        justify-content: space-around;
        grid-template-columns: auto auto auto;
    }


    .consoles-itens {
        width: 300px;
    }

    .consoles-itens img {
        margin-bottom: 20px;
    }

    #retros {
        column-gap: 40px;
    }


    .retros-itens img {
        margin-bottom: 20px;
    }

    #arcades {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }


    .arcades-itens img {
        width: 200px;
        margin-bottom: 25px;
    }

    #off {
        padding-bottom: 30px;
    }

    #off p {
        margin: 15px 0;
    }





    
}