@charset "UTF-8";

@media screen and (min-width: 880px) {

    section {
        margin: 50px 0;
    }


    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    main h2 {
        margin-bottom: 15px;
    }

    .toggle { display: none; }

   

    header {
        height: 220px;
        margin-bottom: 10px;
    }

    header h1 {
        margin-top: 50px;
    }

    

    #l2 {
    letter-spacing: 10px;
    margin-bottom: 30px;
    }


    #big-menu {
        display: block;
        width: 100%;
        padding: 5px 0;
        margin-top: 0;
        padding: 10px 0;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.367);
        }
    
        #big-menu div {
        display: flex;
        justify-content: space-between;
        width: 700px;
        margin: 0 auto;  
        }
    
        #big-menu div h4 { color:#003b7a; }
    
        #big-menu div h4:hover { color: red; }

    #jogos {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 50px auto;
    row-gap: 30px;
    column-gap: 20px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    }

    .jogos-itens {
        width: 175px;
    }

    .jogos-itens img {
        width: 175px;
        height: 240px;
        border-radius: 7px;
        margin-bottom: 15px;
    }


    #consoles {
        width: 930px;
        display: grid;
        gap: 40px;
        margin: 50px auto;
        justify-content: space-around;
        grid-template-columns: auto auto;
    }


    .consoles-itens {
        width: 300px;
    }

    .consoles-itens img {
        margin-bottom: 20px;
    }

    #retros {
        column-gap: 40px;
    }


    .retros-itens img {
        margin-bottom: 20px;
    }

    #arcades {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 80px;
    }


    .arcades-itens img {
        width: 200px;
        margin-bottom: 25px;
    }

    #off {
        padding-bottom: 30px;
    }

    #off p {
        margin: 15px 0;
    }





    
}