@charset "UTF-8";

@font-face {
    font-family: 'game';
    src: url('../fonts/gameshow/Gameshow.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'thunder';
    src: url('../fonts/thunder_kingdom/Thunder\ Kingdom.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'logos';
    src: url('../fonts/game_logos2/Game\ Logos.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gow';
    src: url('../fonts/god-of-war/gow.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.big-search { display: none;}


header {
color: white;
width: 100%;
text-align: center;
background-position: center;
background-size: cover;
border: 1px solid rgba(0, 0, 0, 0.065);
}




header h3 { font-family: "gow"; }



.toggle{ 
display: none;
width: 100%;
text-align: center;
}

.toggle i { font-size: 28px; }


#burguer:hover {
background-color:white;
color: white;
}


menu a {
width: 50%;
display: block;
margin: 0 auto;
color: black;
background-color: gray;
text-decoration: none;
text-align: center;
border-top: 2px solid black;
padding: 10px;
border-radius: 10px;
}


menu a:hover {
color: black;
background-color:white;
}


h2 {
font-family: 'thunder';
text-align: center;
font-weight: normal;   
}


main {
width: 100%;
text-align: center;
    }


/* CONSOLES */

a {
text-decoration: none;
color: black;
}


.consoles-itens {
max-width: 300px;
min-width: 100;
text-align: center;
grid-area: "item1";
}


.consoles-itens img {
width: 100%; 
border-radius: 10px;
box-shadow: 2px 2px 5px black;
}


/* SESSÃO RETROS */


#retros {
width: 100%;
display: grid;
grid-gap: 20px;
padding: 0 20px;
justify-content: center;
grid-template-areas:
"item item item"
"item item item"
"item item item";
}


.retros-itens {
max-width: 300px;
min-width: 150;
text-align: center;
grid-area: "item";
}


.retros-itens img{
width: 100%;
border-radius: 10px;
box-shadow: 2px 2px 5px black;
}


.out {
color: red;
font-weight: bold;
}


/* FOOTER */

footer {
background-color: black;
color: white;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
padding: 20px;
}

footer div { width: 200px; }


.hydra { width: 200px; }


.hydra img {
display: block;
width: 100px;
margin: 0 auto;
}


footer h3 {
color: rgb(192, 3, 3);
margin-bottom: 20px;
}


footer ul li {
font-style: italic;
list-style: none;
margin: 10px 0;
cursor: pointer;
}



