@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'game';
    src: url('../fonts/gameshow/Gameshow.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'thunder';
    src: url('../fonts/thunder_kingdom/Thunder\ Kingdom.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'logos';
    src: url('../fonts/game_logos2/Game\ Logos.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gow';
    src: url('../fonts/god-of-war/gow.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

#gta {
    display: none;
}

.flip {
    display: none;
}



#desconto {
    margin: 20px 0;
}

header {
    width: 100%;
    height: 230px;
    text-align: center;
    background: black url('../imagens/control.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.065);
}


header h1 {
    
    font-style: oblique;
    text-shadow: 1px 2px 4px rgba(255, 255, 255, 0.893);
    margin-top: 40px;
    margin-bottom: 20px;
    
    font-size: 2.3rem;
    font-family: 'gow';
    font-weight: normal;
    text-transform: uppercase;   
}




.logos {
    font-family: 'logos';
    font-weight: normal;
    font-size: 1.2rem;
    margin-bottom: 20px;
}



.toggle{ 
    
    display: none;
    width: 100%;
    text-align: center;
}

.toggle i {
    font-size: 28px;
}


#burguer:hover {
   background-color:white;
    color: white;
}



menu a {
    width: 50%;
    display: block;
    margin: 0 auto;
    color: black;
    background-color: gray;
    text-decoration: none;
    text-align: center;
    border-top: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

menu a:hover {
    color: black;
    background-color:white;
}


h2 {
    font-family: 'thunder';
    text-align: center;
    margin: 20px 0;
    font-weight: normal;   
}

body {
    color: white;
    background-color: black;
}

main {
    width: 100%;
    text-align: center;
    
}

section { 
    margin: 20px 0;
    width: 100%;
    background-color: rgb(39, 39, 41);
}


#container {
    width: 100%;
    display: grid;
    padding: 0 20px;
    grid-gap: 20px;
    justify-content: center;
    

    grid-template-areas: 
    "gow item1"
    "gow item1"
    "item3 item3"
    "item2 item2";
   
}

.gow1 {
    display: none;
    max-width: 400px;
    min-width: 300;
    height: 300px;
    text-align: center;
    grid-area: "gow1";
}

.gow1 img {
    width: 100%;
    max-width: 400px;
    min-width: 350px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 1px 2px 5px black;
}

.gow {
    max-width: 400px;
    min-width: 350px;
    height: 545px;
    
    border-radius: 10px;
    grid-area: "gow";
    grid-row: gow;
}

.thor {
    width: 100%;
    height: 545px;
    background-image: url('../imagens/thor.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 1px 2px 5px black;
}

.gow img {
    display: none;
}



.item1 {
    max-width: 400px;
    min-width: 100;
    height: 290px;
    text-align: center;
    grid-area: "item1";
}

.item1 img {
    width: 100%; 
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}


#og {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    padding: 0 20px;
    justify-content: center;
    grid-template-areas:
    "item item item"
    "item item item"
    "item item item";
}


.item {
    max-width: 300px;
    min-width: 150;
    height: 300px;
    text-align: center;
    grid-area: "item";

}

.item img{
    width: 100%;
     margin: 20px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

#off {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
   
}

#off p {
    margin: 20px 0;
}

#off img {
    margin-top: 0px;
}

footer {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

footer div {
     width: 200px;
}

.hydra {
    width: 200px;
}

.hydra img {
    display: block;
    width: 100px;
    margin: 0 auto;
}

footer h3 {
    color: rgb(192, 3, 3);
    margin-bottom: 20px;
}



footer ul li {
    font-style: italic;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}



