@charset "UTF-8";

@media (max-width: 800px) {

    body {
        background-color: rgb(39, 39, 41);
    }

    header h1 {
        margin-top: 70px;
        margin-bottom: 30px;
    }

    #l1 {
        display: none;
    }

    .toggle{ 
    
        display: none;
    }

    #container {
        margin-bottom: 50px;
    }

    .item1 img {
        margin-bottom: 25px;
    }

   

    .gow {
        
        max-width: 620px;
        min-width: 350;
        height: 370px;
        
        margin-top: 20px;
        text-align: center;
        grid-area: "gow";
        grid-column: gow;
    }

    .fundo {
        width: 100%;
        height: 310px;
        margin-bottom: 20px;
        background-image: url('../imagens/gow1.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: 10px;
    }

    .thor {
        display: none;
    }

    .gow img { display: none; }

    .item {
        height: 240px;
    }

    .item1 {
        
        max-width: 300px;
        min-width: 240;
        height: 220px;
    }

    .item1 img {
        width: 100%;
        max-width: 300px;
        min-width: 240px;
    }

    #container {
        
        grid-template-areas: 
        "gow gow"
        "item1 item1"
        "item1 item1"
        "item1 item1";
       
    }
    #og {

        padding: 20px;
        
        grid-template-areas:
        "item item"
        "item item"
        "item item"
        "item item"
        "item item";
    }

    #gta {
        display: block;
    }

    #off p {
        margin: 20px 0;
    }

    footer {
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: flex-start;
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    footer div {
        width: 100px;
        margin: 20px 0;
    }

    .hydra img {
        width: 70px;
        display: block;
        margin:  0 auto;
    }

    .hydra {
        width: 100%;
        margin-bottom: 20px;
    }
}